*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  height: 100vh;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  perspective: 500px;
  overflow: hidden;
}

/* Big-Ball */

.big-ball {
  /* border: 5px solid #fff; */
  width: 55%;
  border-radius: 50%;
  animation: ball 3.8s ease-in-out infinite;
  position: relative;
}

@keyframes ball {
  50% {
    transform: rotate(180deg);
    margin-bottom: 10px;
    margin-right: 40px;
  }
}

/* Ball */
.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #000;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

/* Moving */

.ball::after,
.ball::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #000;
}
.ball::after {
  left: 30%;
}
.ball::before {
  left: 70%;
}

/* Tools */

.left,
.right {
  width: 200px;
  height: 200px;
  transform: rotateY(90deg);
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
}

/* Right */
.right {
  animation: right 3.8s ease-in-out infinite;
  margin-right: 100px;
  background-color: #006898;
  box-shadow: 2px 2px 10px 2px #006898;
}

@keyframes right {
  60% {
    transform: rotateY(90deg) rotateX(-50deg);
  }
  80% {
    transform: rotateY(90deg) rotateX(0deg);
  }
}

/* Left */
.left {
  margin-left: 100px;
  animation: left 3.8s ease-in-out infinite 1.7s;
  background-color: #009868;
  box-shadow: 2px 2px 10px 2px #009868;
}

@keyframes left {
  60% {
    transform: rotateY(90deg) rotateX(50deg);
  }
  80% {
    transform: rotateY(90deg) rotateX(0deg);
  }
}
